:root {
  --size: 0.8;
  --cell_size: calc(var(--size)*750px);
  --cell_width: calc(var(--size)*410px);
  --filter_back_color: rgb(205 205 205 / 40%);
  --borer_color: rgba(255, 255, 255, 0.88);
  --boderline_color: #4d4d4d;
}

body { background-color: #1b1b1b; margin: 0; font-family: sans-serif; color: var(--borer_color); }
h1 { text-align: center; padding: 16px 20px; }

.main { 
  display: flex; flex-wrap: wrap; margin: 0 auto; 
  justify-content: center; 
  /* vertical-align:  middle;   */
  display:  table-cell; 
  gap: 20px; padding: 20px; 
}
/* .main { display: flex; flex-wrap: wrap; margin: 0 auto; justify-content: center; gap: 20px; padding: 20px; } */

.form-container { background: #004400; padding: 12px; width: 340px; min-width: 280px; border-radius: 8px; }
.section-title { margin: 8px 0; font-size: 18px; }

.centering_item {
    display: inline-block;      /* インラインブロックにする */
    vertical-align:  middle;    
    height: var(--cell_size)px;           
    width: var(--cell_width)px;           
    margin: 50px;                
}

input, select { margin: 4px; padding: 5px; }
input[type="number"] { width: 30px; }
input[type="text"] { width: 80px; }

.submit-btn { padding: 8px 50px; background-color: #63a5a8; color: var(--borer_color); border: none; cursor: pointer; border-radius: 6px; }
.submit-btn:hover { filter: brightness(1.1); }

#field { position: relative; width: calc(var(--size)*388px); height: calc(var(--size)*600px); 
  background: linear-gradient(rgba(9,49,41, 0.7), rgba(17,51,30, 0.7)); 
  border: 2.5px solid var(--borer_color); border-radius: calc(var(--size)*5px); 
}

#info {text-align: center; 	margin: 15px;}
#inputsHome{display: flex; flex-wrap: wrap; justify-content: center;}
#inputsAway{display: flex; flex-wrap: wrap; justify-content: center;}
/* #info {text-align: center; 	margin: 15px; width: 621px; height: 700px} */
.infopart {margin: 15px;}

/* センターライン */
.center-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: calc(var(--size)*1.5px) solid var(--borer_color);
}
/* センターサークル */
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size)*200px);
  height: calc(var(--size)*200px);
  margin: calc(-1*var(--size)*100px) 0 0 calc(-1*var(--size)*100px);
  border: calc(var(--size)*1.5px) solid var(--borer_color);
  border-radius: 50%;
}
/* ペナルティエリア */
.penalty-box {
  position: absolute;
  width: calc(var(--size)*220px); height: calc(var(--size)*90px);
  /* width: 440px; height: 180px; */
  left: 50%;
  margin-left: calc(-1*var(--size)*110px);
  /* margin-left: -220px; */
  border: calc(var(--size)*1.5px) solid var(--borer_color);
}
.penalty-box.top { bottom: 0; border-bottom: none; }
.penalty-box.bottom { top: 0; border-top: none; }

/* ゴールエリア */
.goal-box {
  position: absolute;
  width: calc(var(--size)*120px); height: calc(var(--size)*30px);
  /* width: 240px; height: 60px; */
  left: 50%;
  margin-left: calc(-1*var(--size)*60px);
  /* margin-left: -120px; */
  border: calc(var(--size)*1.5px) solid var(--borer_color);
}
.goal-box.top { bottom: 0; border-bottom: none; }
.goal-box.bottom { top: 0; border-top: none; }

/* ペナルティスポット */
.penalty-spot {
  position: absolute;
  width: calc(var(--size)*5px);
  height: calc(var(--size)*5px);
  background: var(--borer_color);
  border-radius: 50%;
  left: 50%;
  margin-left: -calc(var(--size)*5px);
}
.penalty-spot.top { top: 120px; }
.penalty-spot.bottom { bottom: 120px; }

/* センタースポット */
.center-spot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  /* margin: 0 0 0 0; */
  margin: -2.5px 0 0 -2.5px;
  background: var(--borer_color);
  border-radius: 50%;
}

/* コーナーアーク */
.corner {
  position: absolute;
  width: 20px;
  height: 20px;
  border: calc(var(--size)*1.5px) solid var(--borer_color);
  border-radius: 50%;
}
.corner.tl { top: -10px; left: -10px; }
.corner.tr { top: -10px; right: -10px; }
.corner.bl { bottom: -10px; left: -10px; }
.corner.br { bottom: -10px; right: -10px; }

.player { 
  position: absolute; 
  width: calc(var(--size)*45px); height: calc(var(--size)*37px); 
  /* width: 80px; height: 60px;  */
  background-color: var(--borer_color); 
  color: #000; 
  border-radius: 50%; 
  text-align: center; 
  line-height: 1.2; 
  font-size: calc(var(--size)*22px);
  /* font-weight: bold;  */
  padding-top: calc(var(--size)*6.25px); 
  box-shadow: 0 0 5px #000; 
  transform: translate(-50%, -50%); 
  transition: left 0.7s ease, top 0.7s ease; 
}
.player.home {
  background: 
    linear-gradient(
      40deg,                   /* 斜めの角度 */
      transparent 0 45%,       /* 最初は透明 */
      black 25% 65%,           /* 真ん中だけ白の帯 */
      transparent 55% 100%     /* その後また透明 */
    ),
    crimson;                   /* ベース色 */
  border: 1px solid var(--borer_color);
  color: var(--borer_color);
}
    
.opponent { background-color:  rgba(255,255,255,0.92); color: #000;}

.legend { margin-top: 0px; font-size: 12px; opacity: 0.9; }
.legend span { display: inline-block; padding: 2px 6px; border-radius: 12px; margin-right: 6px; }
.legend .home-chip { background: rgba(220, 20, 60, 0.92); }
.legend .away-chip { background: rgba(255,255,255,0.92); color: #000; }
.forms-wrapper {
    background: var(--filter_back_color);
    padding: 5px; width: 470px; min-width: 280px; border-radius: 8px; 
    /* padding: 12px; width: 820px; min-width: 280px; border-radius: 8px;  */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-start;
}    
.sliderpart {
  background: var(--filter_back_color);
  padding: 5px; width: 470px; min-width: 280px; border-radius: 10px; 
  /* padding: 12px; width: 820px; min-width: 280px; border-radius: 8px;  */
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
  justify-content:space-around;	
}      
.form-block {
    display: flex; flex-wrap: wrap;
    padding: 0 20px;
}

.home-block {
    justify-content: space-around;
    /* border-right: 2px solid rgba(255,255,255,0.4); */
}

.away-block {
    justify-content: space-around;
}

.number-input {
  width: 50px;
}
.name-input {
  width: 100px;
}
.formation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px 0 0px;
  /* margin: 8px 0 20px; */
}

.formation-buttons button {
  background: rgb(170 170 170 / 80%);
  border: none;
  padding: 10px 13px;
  /* padding: 20px 26px; */
  color: var(--borer_color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.formation-buttons button:hover {
  filter: brightness(1.2);
}

.formation-buttons button.active {
  background: rgba(172, 3, 3, 0.8);
}
.para{
    width: 200%;
}

.switch{
  width: 20%
}
.tops{
  width: 50%
}

.whichpara{
  font-size: 80%;
}

img {
    width: 41px;
    height: 41px;
}

#title {
  width: calc(0.4*610px) ; height: calc(0.4*142px);
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c2c2c;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      var(--boderline_color) 26px,  var(--boderline_color) 26px,
      transparent 27px,  transparent 51px, 
      var(--boderline_color) 52px,  var(--boderline_color) 52px,
      transparent 53px,  transparent 77px, 
      var(--boderline_color) 78px,  var(--boderline_color) 78px,
      transparent 79px,  transparent 103px, 
      var(--boderline_color) 104px,  var(--boderline_color) 104px,
      transparent 105px,  transparent 129px, 
      var(--boderline_color) 130px,  var(--boderline_color) 130px),
  
    repeating-linear-gradient(to right,
      transparent 25px,
      var(--boderline_color) 26px,  var(--boderline_color) 26px,
      transparent 27px,  transparent 51px, 
      var(--boderline_color) 52px,  var(--boderline_color) 52px,
      transparent 53px,  transparent 77px, 
      var(--boderline_color) 78px,  var(--boderline_color) 78px,
      transparent 79px,  transparent 103px, 
      var(--boderline_color) 104px,  var(--boderline_color) 104px,
      transparent 105px,  transparent 129px, 
      var(--boderline_color) 130px,  var(--boderline_color) 130px);
}